html,
body {
	height: 100%;
	width: 100%;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
}
body {
	display: flex;
}
a {
	text-decoration: none;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
.menu-primary .wrap {
	width: 100px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #1d2531;
	overflow: hidden;
}
.menu-primary .wrap .action {
	flex: 0 320px;
	text-align: center;
}
.menu-primary .wrap .action > a {
	display: block;
	margin-top: 20px;
	height: 60px;
}
.menu-primary .wrap footer {
	line-height: 60px;
	height: 60px;
	text-align: center;
	letter-spacing: 16px;
}
.menu-secondary {
	height: 100%;
}
.menu-secondary .wrap{
	background-color: #222c3c;
	width: 250px;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.menu-secondary .wrap .menu-content .content-wrap {
	margin: 0 auto;
	width: 190px;
}
.menu-secondary .wrap .menu-content .content-wrap dt {
	font-size: 12px;
	font-family: "ProximaNova";
	color: rgb(91, 103, 121);
	text-transform: uppercase;
	line-height: 33px;
	text-align: left;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	margin-top: 22px;
}
.menu-secondary .wrap .menu-content .content-wrap dd a{
	font-size: 14px;
	font-family: "ProximaNova";
	color: rgb(183, 192, 205);
	line-height: 35px;
	text-align: left;
	font-weight: 500;
}
.menu-secondary .wrap .menu-content .content-wrap dd a:hover {
	font-weight: 800;
}
.menu-secondary .wrap .menu-content .content-wrap dl:nth-of-type(1) dd:last-child,
.menu-secondary .wrap .menu-content .content-wrap dl:nth-of-type(2) dd:last-child {
	padding-bottom: 20px;
	border-bottom: solid 1px #475364;
}
.menu-secondary .wrap .server-capacity {
	flex: 0 56px;
}
.menu-secondary .wrap .server-capacity .footer {
	width: 190px;
	margin: 0 auto;
	height: 56px;
}
.menu-secondary .wrap .server-capacity span {
	font-size: 12px;
	font-family: "ProximaNova";
	color: rgb(255, 255, 255);
}
.menu-secondary .wrap .server-capacity span:nth-of-type(1) {
	float: left;
}

.menu-secondary .wrap .server-capacity span:nth-of-type(2) {
	float: right;
}
.menu-secondary .wrap .server-capacity .progress {
	width: 190px;
	background-color: rgb(71, 83, 100);
	width: 190px;
	height: 4px;
	border-radius: 2.5px;
	margin-top: 10px;
	float: left;
}
.menu-secondary .wrap .server-capacity .progress .progress-bar {
	background-image: linear-gradient(to right, #7f5ce6, #9c8ee3);
	width: 40px;
	border-radius: 2.5px;
	height: 4px;
}
.content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.content .wrap {
	display: flex;
	flex: 1;
}
.content > header {
	height: 80px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #e6e9ec;
	}
.content > header > span {
	margin-left: 30px;
	font-size: 24px;
	font-family: "ProximaNova";
	color: rgb(53, 64, 82);
	line-height: 80px;
	font-weight: bold;
}
.content > header a {
	text-decoration: none;
	flex: 0 240px;
	display: flex;
}
.content > header a > img {
	width: 50px;
	height: 50px;
	margin-top: 10px;
}
.content > header a span:nth-of-type(1) {
	margin-left: 10px;
	margin-top: 15px;
}
.content > header a span:nth-of-type(2) img{
	margin-top: 35px;
	margin-left: 30px;
}
.content > header a span p:first-child {
	font-size: 16px;
	font-family: "ProximaNova";
	color: rgb(35, 153, 241);
}
.content > header a span p:last-child {
	font-size: 14px;
	font-family: "ProximaNova";
	color: rgb(181, 181, 181);
}
.content .chat {
	width: 400px;
}
.content .chat .search {
	width: 400px;
	border: solid 1px #e6e9ec;
	height: 70px;
	text-align: center;
	line-height: 70px;
	margin-top: -1px;
}
.content .chat .search input {
	background: url(images/Search icon.png);
	text-indent: 20px;
	width: 360px;
	height: 36px;
	border: solid 1px #e6e9ec;
	border-radius: 4px;
	background-color: transparent;
}
.content .chat ul {
	width: 400px;
	position: absolute;
	top: 150px;
	border: solid 1px #e6e9ec;
	bottom: 0;
	margin-top: -2px;
	overflow: auto;
	border-left: none;
}
.content .chat ul::-webkit-scrollbar {
	display: none;
}
.content .chat ul li {
	border-bottom: solid 1px #e6e9ec;
	width: 400px;
}
.content .chat ul .active {
	border-left: 4px solid #279df4;
}
.content .chat ul li div{
	display: flex;
	width: 100%;
}
.content .chat ul li div > a {
	margin-top: 25px;
	margin-left: 30px;
}
.content .chat ul li div > span:nth-of-type(1) {
	margin-top: 25px;
	margin-left: 15px;
}
.content .chat ul li div > span:nth-of-type(1) span {
	width: 8px;
	height: 8px;
	background-color: #279df4;
	border-radius: 4px;
	margin-right: 8px; 
	display: none;
}
.content .chat ul .active div > span:nth-of-type(1) span {
	display: inline;
}
.content .chat ul li div > span:nth-of-type(1) p:nth-of-type(1) {
  font-size: 16px;
  font-family: "ProximaNova";
  color: rgb(88, 93, 104);
  font-weight: bold;
  display: flex;
  align-items: center;
}
.content .chat ul .active div > span:nth-of-type(1) p:nth-of-type(1) {
	color: #279df4;
}
.content .chat ul li div > span:nth-of-type(1) p:nth-of-type(2) {
  font-size: 14px;
  font-family: "ProximaNova";
  color: rgb(181, 181, 181);
  font-weight: 600;
}
.content .chat ul li div > span:last-child{
	text-align: right;
	flex: 1;
	margin-top: 25px;
	margin-right: 20px;
}
.content .chat ul li section {
	display: flex;
}
.content .chat ul li section p {
	flex: 1;
	margin-left: 25px;
	font-size: 14px;
	font-family: "ProximaNova";
	color: rgb(88, 93, 104);
	margin-top: 8px;
	margin-bottom: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.content .chat ul li section span{
	display: none;
	flex: 0 24px;
	width: 24px;
	height: 24px;
	background-color: #279df4;
	border-radius: 12px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	margin-top: 15px;
	margin-right: 15px;
}
.content .chat ul .active section span{
	display: inline;
}
.content .open-chat {
	min-width: 600px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.content .open-chat > header {
	flex: 0 70px;
}
.content .open-chat > header .header-wrap {
	border-bottom: 1px solid #e6e9ec;
	width: 100%;
	height: 70px;
	margin-top: -1px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.content .open-chat > header .header-wrap .user {
	font-size: 18px;
	font-family: "ProximaNova";
	color: rgb(88, 93, 104);
	line-height: 1.2;
	text-align: left;
	margin-left: 30px;
	width: 230px;
}
.content .open-chat > header .header-wrap .user-wrap {
	flex: 0 230px;
}
.content .open-chat > header .header-wrap .user .green-point {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background-color: #1bb934;
	margin-left: 15px;
	display: inline-block;
}
.content .open-chat > header .header-wrap .tools {
	display: flex;
	width: 320px;
}
.content .open-chat > header .header-wrap .tools-wrap {
	flex: 0 320px;
}
.content .open-chat > header .header-wrap .tools span {
	font-size: 14px;
	font-family: "ProximaNova";
	color: rgb(86, 104, 138);
	border-left: 1px solid #e6e9ec;
	line-height: 36px;
	padding-left: 15px;
}
.content .open-chat > header .header-wrap .tools ul {
	border: 1px solid #e6e9ec;
	border-radius: 6px;
	padding: 1px;
	margin-left: 15px;
	margin-right: 10px;
}
.content .open-chat > header .header-wrap .tools li {
	display: inline-block;
	width: 36px;
	height: 32px;
	background-color: #fcfdfd;
	text-align: center;
	line-height: 32px;
}
.content .open-chat > header .header-wrap .tools .li-middle {
	border-right: 1px solid #e6e9ec;
	border-left: 1px solid #e6e9ec;
	margin: 0 -4px;
}
.content .open-chat > header .header-wrap .tools .li-first {
	border-right: 1px solid #e6e9ec;
	margin-right: -4px;
}
.content .open-chat .chat-content .chat-content-wrap .data-list {
	position: absolute;
	top: 150px;
	bottom: 100px;
	min-width: 600px;
	overflow: auto;
}
.content .open-chat .chat-content .chat-content-wrap .data-list::-webkit-scrollbar {
	display: none;
}
.content .open-chat .chat-content .chat-content-wrap .data-list .chat-list > li {
	display: flex;
	margin-top: 20px;
}
.content .open-chat .chat-content .chat-content-wrap .data-list .chat-list > li > a {
	margin-left: 30px;
}
.content .open-chat .chat-content .chat-content-wrap .data-list .data {
	border-top: solid 1px #e6e9ec;
	text-align: center;
	margin-top: 10px;
}
.content .open-chat .chat-content .chat-content-wrap .data-list .data span{
	background-color: #fff;
	z-index: 1;
	position: relative;
	top: -10px;
	padding: 0 8px;
}
.content .open-chat .chat-content .chat-content-wrap .data-list .chat-list > li > section {
	margin-left: 20px;
}
.content .open-chat footer {
	width: 100%;
	flex: 0 100px;
	align-items: center;
	height: 100px;
	display: flex;
}
.content .open-chat .new-message {
	width: 100%;
	display: flex;
}
.content .open-chat .new-message .add {
	width: 54px;
	height: 54px;
	text-align: center;
	line-height: 54px;
	background-color: #fefeff;
	border-radius: 4px;
	border: 1px solid #e6e9ec;
	margin-left: 30px;
}
.content .open-chat .new-message input {
	height: 54px;
	text-indent: 20px;
	border: 1px solid #e6e9ec;
	margin-right: 30px;
	flex: 1;
}